* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}
.container {
    background: linear-gradient(76deg, #0c0345, #180585, #2f0cf0, #f09b0c, #cee418);
    background-size: 1800% 1800%;
    margin: 0;
    max-width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    animation: bgchange 60s ease infinite;

}

@-webkit-keyframes bgchange {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes AnimationName {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}

@keyframes move-sun {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.rotadiv {
    position: relative;
    left: 35%;
    top: 300px;
    width: 30vw;
    height: 10vh;
    animation: move-sun 200s infinite linear;
    z-index: -5 ;
}
.sun_sun {
    position: absolute;
    width: 400px;
    height: 400px;
    background-image: url("../img/cageman.jpg");
    background-size: cover;
    border-radius: 50%;
    right: 300px;
    top: 300px;
}
#light {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: yellow;
    border-radius: 50%;
    right: 300px;
    top: 300px;
    opacity: .5;
    box-shadow: 0 0 100px 50px gold;
}


.moon_moon {
    position: absolute;
    left: 300px;
    bottom: 300px;
    animation: rotate 100s ease-in-out infinite;
}
    @keyframes rotate {
        from {
            transform: rotate(0);
        } to {
        transform: rotate(360deg);
              }
    }
.mounds {
    position: absolute;
    width: 100vw;
    height: 50vw;
    margin: 0;
    z-index: -2;
}
.mound1 {
    position: absolute;
    z-index: -1;
    left: -100px;
    bottom: -400px;
    height: 600px;
    width: 40%;
    border-radius: 45% 45% 0 0;
    border: 2px solid forestgreen;
    background-color: lightgreen;
}
.mound2 {
    position: absolute;
    left: 200px;
    bottom: -300px;
    height: 600px;
    width: 60%;
    border-radius: 75% 75% 0 0;
    border: 2px solid forestgreen;
    background-color: lightgreen;
    z-index: -2;
}
.mound3 {
    position: absolute;
    left: 55%;
    bottom: -350px;
    height: 600px;
    width: 50%;
    border-radius: 48% 48% 0 0;
    border: 2px solid forestgreen;
    background-color: lightgreen;
    z-index: -3;
}
#me {
   position: absolute;
    bottom: 75px;
    height: 250px;
    left: 200px;
    z-index: 2;
}
#tree {
    position: absolute;
    left: -25px;
    bottom: 75px;
    height: 600px;
    width: 400px;
    z-index: -1;
}

/*#light {*/
/*    height: 1px;*/
/*    width: 50px;*/
/*    animation: sunrise 200s infinite linear;*/
/*}*/

@keyframes sunrise {

}
/*.light_show {*/
/*    left: 12%;*/
/*    top: 12%;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    position: absolute;*/
/*    background-color: transparent;*/
/*    animation: lightshow 10s infinite linear;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: flex-start;*/
/*    border: none;*/
/*}*/
/*#light {*/
/*    opacity: 1;*/
/*    background: radial-gradient(at 0% 0%, gold, yellow, lightyellow, gold);*/
/*    height: 1500px;*/
/*    width: 3500px;*/
/*    border-radius: 25% 25% 25% 25%;*/
/*    position: absolute;*/
/*    z-index: 60;*/
/*    bottom: 0;*/
/*    animation: over 12s ease forwards;*/
/*    box-shadow: 0 0 1250px 250px yellow;*/
/*}*/
/*@keyframes over {*/
/*    0% {*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        opacity: .4;*/
/*    }*/
/*}*/